body {
  background-color: #eae2b7;
}
h2 {
  margin-top: 80px;
  padding: 30px;
  color: #000000;
  font-family: "Mulish", sans-serif;
}
div {
  display: flex;
  align-items: center;
  border: solid #fab1a0;
  background: #fab1a0;
  height: 290px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px;
}

input {
  margin-left: 10px;
  border: none;
  flex: 1;
  text-align: center;
  display: flex;
  /* width: 400px; */
  padding-top: 7px;
  padding-bottom: 7px;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}
